.todo__item {
  padding: 8px 16px;
  display: flex;
}
.todo__item ion-icon {
  margin-right: 8px;
  font-size: 20px;
}
.todo__item:hover {
  background-color: rgb(66, 66, 66);
  color: #fff;
  font-weight: bold;
}
.todo__item.active {
  background-color: #fff;
  font-weight: bold;
}

.truncate {
  width: 235px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
