.button {
  background-color: #000;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  height: auto;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.button:hover {
  opacity: 0.7;
}
