header {
  background-color: #dc4c3f;
  color: #fff;
  padding: 1rem;
}
header input {
  border: none;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  color: #fff;
  outline: none;
}

header input::-webkit-input-placeholder {
  color: white;
}
header .container__middle {
  position: relative;
}

header input[type="text"] {
  position: absolute;
  width: 80%;
}

header ion-icon {
  font-size: 20px;
  margin-right: 8px;
}

header ion-icon:hover {
  color: #01c1fc;
}
