@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&family=Nunito:wght@300;400;700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
}

.container__main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.container__left {
  width: 25%;
}

.container__middle {
  flex-grow: 1;
}

.container__right {
  width: 20%;
}
