.menu {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  width: 200px;
  height: auto;
  position: absolute;
  opacity: 1;
  transition: opacity 0.5s linear;
  background-color: #fff;
}

.menu__item {
  align-items: center;
  display: flex;
  padding: 10px 8px;
  cursor: context-menu;
}
.menu__item:hover {
  background-color: #d1d0d0;
}

.menu__hotkey {
  margin-left: auto;
}

.menu__divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  height: 1px;
}
