.todo__detail {
  width: 100%;
}

.todo__detail .todo__heading {
  padding: 8px;
  border-bottom: 1px solid #f2f2f2;
}
.todo__detail h1,
p,
span {
  margin-left: 8px;
}

.todo__detail h1,
p {
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap; /* current browsers */
}
